---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{#- Pages kept out of the sitemap: the post-subscription thank-you pages, which
    have nothing to rank for and should not be entry points. -#}
{%- set excluded = [
  "/thanks/",
  "/wave/thanks/",
  "/httpo/thanks/"
] -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.url not in excluded %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
