{% extends 'layouts/httpo/base.njk' %}
{% block pagemaincontent %}
  {% include "layouts/httpo/formular.njk" %}
{% endblock %}
{% block shared_content_catalog %}
  {% include "layouts/shared/catalog.njk" %}
{% endblock %}
{{ content }}