{% extends 'layouts/wave/base.njk' %}
{% block pagemaincontent %}
  {% include "layouts/wave/thanks-message.njk" %}
{% endblock %}
{{ content }}
{% block shared_content_footer %}
  {% include "layouts/shared/footer.njk" %}
{% endblock %}