<section class="ui-section-title">
    <div class="ui-layout-container">
        <h2>Report Catalog</h2><a name="Catalog"></a>
    </div>
    </section>
    <section class="ui-section-catalog">
    <div class="ui-layout-container">
        <div class="ui-section-cataog__layout ui-layout-grid ui-layout-grid-2">
        <div class="ui-component-cta ui-layout-flex">
            <h3>WebPageTest Report</h3>
            <p>Catchpoint WebPageTest is the gold‑standard opensource web performance tool, enabling developers to monitor and optimize site performance.</p>
            <div style="height: 172px; display: flex; align-items: center; justify-content: center;">
            <a href="{{ '/' | url }}">
                <img src="{{ '/' | url }}assets/img/catalog/webpagetest-report.png" loading="lazy" alt="webpagetest report" width="200px" height="71px" class="">
            </a>
            </div>
            <a href="{{ '/' | url }}#Subscribe" role="link" aria-label="#" class="ui-component-button ui-component-button-normal">Get the report</a></p>
        </div>
        <div class="ui-component-cta ui-layout-flex">
            <h3>HTTP Observatory Report</h3>
            <p>Developed by Mozilla, the HTTP Observatory performs an in-depth assessment of a site’s HTTP headers and other key security configurations.</p>
            <div style="height: 172px; display: flex; align-items: center; justify-content: center;">
            <a href="{{ '/' | url }}httpo/">
                <img src="{{ '/' | url }}assets/img/catalog/http-observatory-report.png" loading="lazy" alt="httpo observatory report" width="200px" height="43px" class="">
            </a>
            </div>
            <a href="{{ '/' | url }}httpo/#Subscribe" role="link" aria-label="#" class="ui-component-button ui-component-button-normal">Get the report</a></p>
        </div>
        </div>
    </div>
</section>