<footer role="contentinfo" class="ui-section-footer">
    <div class="ui-layout-container">
    <div class="ui-section-footer__layout">
        <!-- COPYRIGHT -->
        <p class="ui-section-footer--copyright ui-text-note">
          <small>&copy; 2026 WebPerformance Report. All rights reserved.</small><br>
          <small class="ui-section-footer--links"><a href="{{ '/' | url }}cookie-policy/" alt="cookie policy">Cookie policy</a> | <a href="{{ '/' | url }}terms-of-service/" alt="terms of service">Terms of service</a> | <a href="{{ '/' | url }}refund-policy/" alt="refund policy">Refund policy</a> | <a href="{{ '/' | url }}legal-notice/" alt="legal notice">Legal notice</a> | <a href="{{ '/' | url }}about-us/" alt="about us">About us</a></small>
        </p>
        <!-- MENU -->
        <div class="ui-section-footer--social">
          <a href="https://twitter.com/webperfreport" role="link" aria-label="#" class="ui-component--social-media">
          <image alt="twitter" width="31" height="31" loading="lazy" src="{{ '/' | url }}assets/img/Orion_twitter.svg" />
          </a>
          <a href="https://www.linkedin.com/company/webperfreport/" role="link" aria-label="#" class="ui-component--social-media">
          <image alt="linkedin" width="31" height="31" loading="lazy" src="{{ '/' | url }}assets/img/Orion_linkedin.svg" />
          </a>
        </div>
    </div>
    </div>
</footer>
<div style="background: #fff;" class="ui-section-footnote">
    <div class="ui-layout-container ui-layout-flex ui-layout-flex">
    <span style="margin-right:5px; padding: 10px 0;"></span>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-ZBL0MB3VEX" data-cookieconsent="statistics"></script>
<script type="text/plain" data-cookieconsent="statistics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZBL0MB3VEX');
</script>