<footer role="contentinfo" class="ui-section-footer">
    <div class="ui-layout-container">
    <div class="ui-section-footer__layout ui-layout-flex">
        <!-- COPYRIGHT -->
        <p class="ui-section-footer--copyright ui-text-note"><small>&copy; WebPerformance Report | <a href="{{ '/' | url }}privacy-policy/" alt="privacy policy">Privacy policy</a> | <a href="{{ '/' | url }}about-us/" alt="about us">About us</a></small></p>
        <!-- MENU -->
        <a href="https://twitter.com/webperfreport" role="link" aria-label="#" class="ui-component--social-media">
        <image alt="twitter" width="36" height="36" loading="lazy" src="{{ '/' | url }}assets/img/Orion_twitter.svg" />
        </a>
        <a href="https://www.linkedin.com/company/webperfreport/" role="link" aria-label="#" class="ui-component--social-media">
        <image alt="linkedin" width="36" height="36" loading="lazy" src="{{ '/' | url }}assets/img/Orion_linkedin.svg" />
        </a>
    </div>
    </div>
</footer>
<div style="background: #fff;" class="ui-section-footnote">
    <div class="ui-layout-container ui-layout-flex ui-layout-flex">
    <span style="margin-right:5px; padding: 10px 0;"></span>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-ZBL0MB3VEX" data-cookieconsent="statistics"></script>
<script type="text/plain" data-cookieconsent="statistics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZBL0MB3VEX');
</script>