<section class="ui-section-title ui-section-testimonials">
    <div class="ui-layout-container">
        <h2>Testimonials</h2><a name="Testimonials"></a>
    </div>
</section>
<section class="ui-section-catalog ui-section-testimonials">
    <div class="ui-layout-container">
        <div class="ui-section-catalog__layout ui-layout-grid ui-layout-grid-3">
            <div class="ui-component-cta ui-layout-flex">
                <img src="{{ '/' | url }}assets/img/testimonials/testimony.png" loading="lazy" alt="testimonial" width="80px" height="71px" class="">
                <p style="margin-bottom:0; line-height: 1.5;"><i>“I love having a weekly reminder of the Web Performance of my site, as another checkpoint that I'm not letting things regress, Also look forward to the featured links in case I missed anything in the webperf world in the last week.”</i></p>
                <p class="regular-text"><strong style="color: #426a90;">Barry Pollard,</strong><br><i>Web Performance Developer Advocate <br><strong>at Google</strong></i></p>
            </div>
            <div class="ui-component-cta ui-layout-flex">
                <img src="{{ '/' | url }}assets/img/testimonials/testimony.png" loading="lazy" alt="testimonial" width="80px" height="71px" class="">
                <p style="margin-bottom:0; line-height: 1.5;"><i>“WPR provides an easy way for me to observe and share simplified performance monitoring results with other engineers. Compared to other solutions, WPR just gets to the point with the data you need.”</i></p>
                <p class="regular-text"><strong style="color: #426a90;">Jacob Gross,</strong><br><i>Senior Performance Engineer<br><strong>at Framer</strong></i></p>
            </div>
            <div class="ui-component-cta ui-layout-flex">
                <img src="{{ '/' | url }}assets/img/testimonials/testimony.png" loading="lazy" alt="testimonial" width="80px" height="71px" class="">
                <p style="margin-bottom:0; line-height: 1.5;"><i>“A snapshot report that provides valuable insights to help you focus on your website's performance, based on data, makes it a worthwhile choice, especially considering such factors influence SEO.”</i></p>
                <p class="regular-text"><strong style="color: #426a90;">Madhu Kumar C,</strong><br><i>Digital Marketer and AI Blogger<br><strong>Independent Consultant</strong></i></p>
            </div>
        </div>
    </div>
</section>