{% extends 'layouts/base.njk' %}
{% block pagemaincontent %}
  {% include "layouts/home-formular.njk" %}
{% endblock %}
{% block shared_content_catalog %}
  {% include "layouts/shared/catalog.njk" %}
{% endblock %}
{% block shared_content_footer %}
  {% include "layouts/shared/footer.njk" %}
{% endblock %}
{{ content }}