{% extends 'layouts/base.njk' %}
{% block pagemaincontent %}
  {% include "layouts/privacy-policy_cookies.njk" %}
{% endblock %}
{% block shared_content_footer %}
  {% include "layouts/shared/footer.njk" %}
{% endblock %}
{{ content }}